#text{
   font-family: Comfortaa;
   background-image: linear-gradient(red, orange);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   margin-top: -400px;
}

body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
 }
 
 #box1{
    position: relative;
    display: block;
    background-image: linear-gradient(to right, rgba(246,197,173,0.6), rgba(246,197,173,0.6));
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-top: 325px;
    margin-left: auto;
    margin-right: auto;
 }
 #yt {
    width: 40%;
    margin-top: 20px;
    margin-left: -5px;
    transition: transform 0.1s ease-in-out;
  }
  
 #yt:hover{
    transform: scale(1.1);
 }
 #steam {
    position:absolute;
    width: 28%;
    margin-top: 2px;
    margin-left: -5px;
    transition: transform 0.1s ease-in-out;
  }
  
 #steam:hover{
    transform: scale(1.1);
 }
 #spotify {
    position:absolute;
    width: 35%;
    margin-top: 10px;
    margin-left: 128px;
    transition: transform 0.1s ease-in-out;
  }
  
 #spotify:hover{
    transform: scale(1.12);
 }
 #ai {
    position:absolute;
    width: 25%;
    margin-top: 150px;
    margin-left: -162px;
    transition: transform 0.1s ease-in-out;
  }
  
 #ai:hover{
    transform: scale(1.12);
 }
 #mail {
    position:absolute;
    width: 30%;
    margin-top: 143px;
    margin-left: -12px;
    transition: transform 0.1s ease-in-out;
  }
  
 #mail:hover{
    transform: scale(1.12);
 }

#reddit {
   position:absolute;
   width: 25%;
   margin-top: 155px;
   margin-left: 150px;
   transition: transform 0.1s ease-in-out;
 }
 
#reddit:hover{
   transform: scale(1.12);
}